---
interface Props {
  className?: string;
  customClass?: string;
}

const { className = "", customClass = "" } = Astro.props;
---

<div class={`p-6 ${className} ${customClass}`}>
  <slot />
</div>
